html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
}
#image-kereta {
  background-image: url(../images/ka3.jpg);
  background-repeat: no-repeat;
}
 #container-login {
   background-color: #FF5C09;
 }

 .vertical-center {
   /* margin: 0; */
   /* position: absolute; */
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }

 #form-login {
   color: white;
 }

 .bg-orange {
   background-color: #FF5C09 !important;
   /* FD6A3C */
 }

 a.bg-orange:hover, a.bg-orange:focus,
 button.bg-orange:hover,
 button.bg-orange:focus {
   background-color: #f7ee0e !important;
 }
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
nav {
  z-index: 1;
}
#sidebar {
  background-image: linear-gradient(rgb(242, 144, 53),#FF5C09);
  height: 100%;
  /* margin-top: -58px; */
  padding: 0px;
  padding-top: 10px;
  z-index: 0;
  visibility: hidden;
}

#menu {
  visibility: visible;
}

#menu-sidebar {
  list-style: none;
  display: contents;
}
@media (min-width: 576px) {

#menu {
  visibility: hidden;
}
#sidebar{
  visibility: visible;
}

#main {
  padding: 20px;
}

.sidebar-list {
  padding: 15px 20px 15px 20px;
}
.sidebar-list a {
  color: white;
}

.sidebar-list.active {
  background-color: black;
}
}
